<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={Phoenix.Controller.get_csrf_token()} />
    <% asset_root = @conn.assigns[:live_capture_path] || "/" %>
    <link rel="stylesheet" href={"#{asset_root}/css/app.css"} />
    <script src={"#{asset_root}/js/app.js"} defer></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
